<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services</title>
    <link rel="stylesheet" href="styles.css">

  </head>
  <body>
    <section id="services">
        <div class=" text-center py-5 mb-4"  style="background-color:black;">
            <div class="container">
              <h1 class="fw-light text-white"> Our Services</h1>
              <p class="overview" style="color:white;">Life’s too short to spend it at the repair shop <span style="color:#f16000; font-weight: bold;">MechTech</span> Will repair your car from your home, office, or any other place your car can broke at.
              </p>
            </div>
          </div>
        <div class="container">
          <div class="row">
            <!-- Team Member 1 -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-0 shadow">
                <img src="" class="card-img-top" alt="..." style="width:50px;margin-left: 40%;">
                <div class="card-body text-center">
                  <h5 class="card-title mb-0">WE MAKE IT EASY</h5>
                  <div class="card-text text-black-50">Get a quote and book a service online 24/7. Our mechanics will come to your home or office, even on evenings and weekends.</div>
                </div>
              </div>
            </div>
            <!-- Team Member 2 -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-0 shadow">
                <img src="" class="card-img-top" alt="..." style="width:40px;margin-left: 40%;">
                <div class="card-body text-center">
                  <h5 class="card-title mb-0">FAIR AND TRANSPARENT PRICING</h5>
                  <div class="card-text text-black-50">We offer fair and transparent pricing and provide estimates upfront for hundreds of services on thousands of cars</div>
                </div>
              </div>
            </div>
            <!-- Team Member 3 -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-0 shadow">
                <img src="" class="card-img-top" alt="..."style="width:40px;margin-left: 40%;">
                <div class="card-body text-center">
                  <h5 class="card-title mb-0">FASTER TO GET TO YOU</h5>
                  <div class="card-text text-black-50">As soon as you call, our agent will reach out to you and help you as soon as we can. All our agents are hear to support you</div> </div>
              </div>
            </div>
            <!-- Team Member 4 -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-0 shadow">
                <img src="" class="card-img-top" alt="..."style="width:40px;margin-left: 40%;">
                <div class="card-body text-center">
                  <h5 class="card-title mb-0">HAPPINESS GUARANTEED</h5>
                  <div class="card-text text-black-50">We only work with highly rated mechanics.All services are backed by our 12-month / 12,000-mile warranty.</div>
                </div>
              </div>
            </div>
          </div>
      
  </body>
</html>
